body {
  font-family: Arial, sans-serif;
  background: #020617;
  color: white;
}

.container {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

input {
  width: 80%;
  padding: 15px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

button {
  padding: 15px 30px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 600px;
  margin-top: 20px;
  border: none;
  background: white;
}
